body,
html {
  maring: 0;
  padding: 0;
  overflow-x: hidden;
}

.home-bar {
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
  margin: 0px;
  padding: 1rem;
  min-width: 100%;
  box-sizing: border-box;
}

.setting-circle {
  width: 70px;
  height: 70px;
  background-color: gray;
  border-radius: 50%;
}
